<!DOCTYPE html>
<p lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    Добавить новую продажу<br>
    <form action="" method="post">
        <input type="text" name="film_name" placeholder="Название фильма"><br>
        <input type="text" name="dtime" placeholder="Дата"><br>
        <input type="number" name="num_hall" placeholder="Номер зала"><br>
        <input type="number" name="num_place" placeholder="Номер места"><br>
        <input type="number" name="price" placeholder="Стоимость"><br>
        <input type="submit" name="insert" value="Добавить">
    </form>

    <a href="/edit">Назад</a></div></body>


</html>